:root {
    --color-green1: #00D12E;
    --color-green2: #59FB7C;
    --color-green3: #8AFAA3;
    --color-green4: #BAFFC9;
    --color-green5: #DAFFE2;
    --color-black1: #191919;
    --color-black2: #212121;
    --color-black3: #000;
   --color-orange1: #e89f88;
    --color-gray3: #9CA39D;
    --color-grey4: #444;
    --color-white1: #F7FDF8;
    --color-white2: #F8FBFD;
    --color-blue1: #008CDB;
    --color-blue2: #31A6E8;
    --color-blue3: #70C3F2;
    --color-blue4: #A0D5F3;
    --color-blue5: #CFE6F2;
    --color-blue6: #EFF5F8;
    --color-white:#fff;
    --font-bree: 'Bree Serif', sans-serif;
    --font-noto: 'Noto Sans', sans-serif; 
}
html {
   scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--color-black2);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
    letter-spacing: 0.05em;
    color: var(--color-white);
}

section {
    padding-bottom: 15em;
}

header {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: var(--color-black1);
    z-index: 5;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3em;
    width: 100%;
}


nav a {
    text-decoration: none;
    color: var(--color-white);
    margin: 0 10px;
}

.home {
    font-family: 'Bree Serif', serif;
    font-size: 1.5em;
}

.right-nav a {
    margin-left: 10px;
    font-size: 1.4em;
    color: var(--color-orange1);
    transition: 0.3s ease;
}

.right-nav a:hover {
    color: var(--color-white)
}

.circles-container {
   position: relative;
    height: 100vh; /* Make the container take up the full viewport height */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    background-color: var(--color-black3);
    border-radius: 50%;
    position: absolute;
}

.large {
  max-width: 500px;
  max-height: 500px;
  width: 16em;
  height: 16em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  z-index: 2;
  animation: glowFadeIn 1.5s ease-out   forwards 0.5s;
}

.large h1, p {
    color: var(--color-orange1);
}

/* .circle-name {
    color: var(--color-white)
} */

@keyframes glowFadeIn {
  from {
    box-shadow: 0 0 0px white;
  }
  to {
    box-shadow: 0 0 2em white; /* Adjust the spread of the glow as needed */
  }
}
.medium {
    max-width: 250px;
  max-height: 250px;
    width: 6em;
    height: 6em;
    top: 74%;
    left: 36%;
    animation: glowFadeIn 1.5s ease-out forwards 1s;
}

.medium-text {
    max-width: 75%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 1em;
    text-align: center;
}

.small {
  max-width: 150px;
  max-height: 150px;
    width: 4em;
    height: 4em;
    top: 90%;
    left: 30%;
    animation: glowFadeIn 2s ease-out forwards 1.5s;
}

h1 {
    font-family: 'Bree Serif', serif;
    margin: 0;
}

.arrow {
    position: relative;
    /* right: 20px;
    bottom: 20px; */
    font-size: 5em;
    max-width: 100px;
    max-height: 100px;
    transform: rotate(90deg);
    z-index: 5;
    color: var(--color-orange1);
    transition: 0.3s ease-in-out;
    opacity: 0.7;
}

@keyframes darkFadeIn {
  from {
    box-shadow: 0 0 0px var(--color-black3);
  }
  to {
    box-shadow: 0 0 2em var(--color-black3); /* Adjust the spread of the glow as needed */
  }
}

.arrow:hover {
    color: var(--color-white);
    cursor: pointer;
    animation: darkFadeIn 1.5s ease-out forwards;
    opacity: 1;
}
.arrow-container {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
  transition: 0.5s ease-in-out;
}
.arrow-container:hover {
    transform: scale(1.2);
}

.header-two {
    font-size: 3em;
    color: var(--color-white2);
    font-family: var(--font-bree);
}


material-icons.toggle-icon {
    display: block;  /* Adjust this as needed, e.g., inline-block */
}


/* Contact Form Section Styles */
.contact-form-section {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    padding: 30px 0;
    gap: 4em;
    color: var(--color-grey4);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contact-form-section form {
  padding: 20px;
    width: 20em;
    max-width: 500px;
    height: 25em;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 10px;
}

.contact-form-section form:hover {
    animation: darkFadeIn 1s ease-out forwards;
}
.contact-message {
  max-width: 500px;
  width: 20em;
color: var(--color-white);
}

.contact-message h2 {
  font-size: 2em;
}

.contact-form-section input {
  width: 100%;
  height: 2em;
  border: 2px solid var(--color-grey4);
}

.contact-form-section label {
    align-self: flex-start;
}

.contact-form-section textarea {
    width: 100%;
    resize: vertical;
      border: 2px solid var(--color-grey4);
}


.submit {
  width: 100%;
  height: 3em;
  transition: 0.5s ease-in-out;
  background-color: var(--color-white);
  color: var(--color-grey4);
  border-radius: 10px;
  border: 2px solid var(--color-grey4);
}

.submit:hover {
  border: none;
  background-color: var(--color-grey4);
  color: var(--color-white);
}

/* Mobile specific styles */
@media (max-width: 768px) {
    .contact-form-section {
        flex-direction: column;
        align-items: center; /* center the elements */
    }

    .contact-form-section form, .contact-message {
        width: 100%; /* make them take the full width */
        max-width: 300px; /* reset any max-widths */
    }
}





.portfolio {
    max-width: 1200px;
    margin: 20px auto; /* Center the grid on the page */
    display: grid;
    /* Create a flexible grid that starts with two columns and allows them to grow and shrink smoothly */
     grid-template-columns: repeat(2, minmax(300px, 600px));
    gap: 2em;
    margin: 0px 4em;
}


.portfolio-item {
    aspect-ratio: 1 / 1;
    min-width: 300px;
    background-color: var(--color-black4);
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.portfolio-img-container {
    width: 100%;
    height: 85%;
    position: relative;
}
.portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-info {
    padding: 10px;
    text-align: center;
    background-color: var(--color-black1);
    height: 15%;
}

.project-info h3 {
    color: var(--color-white);
}

.project-info p {
    color: var(--color-white);
}




@media screen and (max-width: 600px) {
    .portfolio {
        grid-template-columns: 1fr; /* On small screens, use one column */
    }
}


.portfolio-item::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0); /* Transparent by default */
    transition: background 0.3s ease;
   
}

.portfolio-item:hover {
    animation: darkFadeIn 0.75s ease-out forwards;
}

.portfolio-item:hover::after {
    background: rgba(0, 0, 0, 0.2); /* Dark overlay on hover */
} 

/* potfolio page template css */
.main-portfolio {
    width: 90%;
}

.hero {
    margin-top: 8em;
    padding: 0;
}

.hero h1 {
    font-size: 3em;
}

.hero p {
    font-size:  2em;
}

.hero img {
    width: 100%;
    height: 80vh;
    object-fit: cover; /* Adjust as needed */
    display: block;
    margin: 10px auto;
}

.content {
    padding: 0;
    margin-top: 20em;
}

.content p {
    margin: 20px;
    text-align: justify;
}

.content-text {
    max-width: 60em;
    background-color: var(--color-black1);
    margin-bottom: 20em;
    padding: 10px;
}

.image-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container img {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.image-description {
   padding: 10px 0;
    background-color: var(--color-black1);
    width: 70%;
}

.image-description p {
    text-align: center;
}

.white-highlight {
    color: var(--color-white)
}

.conclusion {
    margin-top: 20em;
}

.conclusion-header {
    font-size: 2em;
}

.content-conclusion {
    max-width: 60em;
    background-color: var(--color-black1);
    margin-top: 10em;
    margin-bottom: 5em;
    padding: 10px;
}